.css-selector {
	background: linear-gradient(161deg, #000, #301934);
	background-size: 400% 400%;
	-webkit-animation: AnimationName 30s ease infinite;
	-moz-animation: AnimationName 30s ease infinite;
	-o-animation: AnimationName 30s ease infinite;
	animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
	0%{background-position:57% 0%}
	50%{background-position:44% 100%}
	100%{background-position:57% 0%}
}
@-moz-keyframes AnimationName {
	0%{background-position:57% 0%}
	50%{background-position:44% 100%}
	100%{background-position:57% 0%}
}
@-o-keyframes AnimationName {
	0%{background-position:57% 0%}
	50%{background-position:44% 100%}
	100%{background-position:57% 0%}
}
@keyframes AnimationName {
	0%{background-position:57% 0%}
	50%{background-position:44% 100%}
	100%{background-position:57% 0%}
}